{#
/**
  * @file
  * Template for About page.
  *
  * Available variables:
  * - current_route: Name of current route.
  * - current_locale: Current language code.
  */
#}
{% extends 'base.html.twig' %}

{% block title %}{{ 'about_us'|trans }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="header-section text-center">
            <h2>{{ 'about_us'|trans }}</h2>
            <p>{{ 'meet_our_team'|trans }}</p>
            <hr class="bottom-line">
        </div>

        <div class="col-sm-12 about">
            <div class="col-sm-12 text-center">
                {% if current_locale == 'ka' %}
                    <p><b>Informatics.ge</b> - პროგრამირების შესწავლისა და სპორტული პროგრამირების ვებ-გვერდი.</p>
                    <p>ეს არის პლატფორმა, რომელიც დაეხმარება დამწყებ პროგრამისტებს მომავალი პროფესიის დაუფლებაში
                        ხოლო გამოცდილებს - შესაძლებლობების გაუმჯობესებაში.</p>
                {% elseif current_locale == 'en' %}
                    <p><b>Informatics.ge</b> - Website to learn programming and competitive programming.</p>
                    <p>This is a platform, which will help beginner programmers to accuire future profession,
                        and for improve skills of experienced ones And improve skills of experienced ones.</p>
                {% endif %}
                <br/>
                <h3>{{ 'our_teaam'|trans }}</h3>
                <br/>
            </div>
        </div>

        <div class="col-sm-12 team">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <figure>
                        <img class="img-circle" src="{{ asset('images/team/zaza.jpg') }}" width="200px" height="200px"
                             alt="Zaza Gamezardashvili"/>
                    </figure>
                </div>
                <div class="col-sm-8">
                    {% if current_locale == 'ka' %}
                        <h3>
                            ზაზა გამეზარდაშვილი
                            <small>იდეის ავტორი</small>
                        </h3>
                        <p><b><i>საქართველოს ინფორმატიკის მოსწავლეთა ნაკრების თანალიდერი</i></b></p>
                    {% elseif current_locale == 'en' %}
                        <h3>
                            Zaza Gamezardashvili
                            <small>Author of the idea</small>
                        </h3>
                        <p><b><i>Co-leader of the Georgian informatics team</i></b></p>
                    {% endif %}

                    <ul class="social-network social-circle">
                        <li>
                            <a href="https://www.facebook.com/zaza.gamezardashvili" target="_blank" class="icoFacebook"
                               title="Facebook"><i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="col-sm-4">
                    <figure>
                        <img class="img-circle" src="{{ asset('images/team/abgeo.jpg') }}" width="200px" height="200px"
                             alt="Temuri Takalandze"/>
                    </figure>
                </div>
                <div class="col-sm-8">
                    {% if current_locale == 'ka' %}
                        <h3>
                            თემური თაკალანძე
                            <small>ავტორი</small>
                        </h3>
                        <p><b><i>კავკასიის ტექნოლოგიების სკოლის (CST) სტუდენტი</i></b></p>
                        <p>ამპარტავანი არ ვარ, მაგრამ ვვამაყობ ჩემი ამ ქმნილებით ))</p>
                    {% elseif current_locale == 'en' %}
                        <h3>
                            Temuri Takalandze
                            <small>Creator</small>
                        </h3>
                        <p><b><i>Student of the Caucasus School of Technology (CST)</i></b></p>
                    {% endif %}

                    <ul class="social-network social-circle">
                        <li><a href="http://www.abgeo.ga/" target="_blank" class="icoWebsite" title="Website"><i
                                        class="fa fa-globe"></i></a></li>
                        <li><a href="https://github.com/ABGEO07" target="_blank" class="icoGithub" title="Github"><i
                                        class="fa fa-github"></i></a></li>
                        <li><a href="https://www.facebook.com/ABGEO07" target="_blank" class="icoFacebook"
                               title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/ABGEO07" target="_blank" class="icoTwitter" title="Twitter"><i
                                        class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center">
            <hr/>
            <p>{{ 'if_you_have_questions'|trans }}</p>

            <a href="https://m.me/Informatics.ge" target="_blank">
                <span>{{ 'contact_us'|trans }}</span><img src="{{ asset('images/fbm.png') }}" alt="Messenger" width="40">
            </a>

            <!-- Your customer chat code -->
            <div class="fb-customerchat"
                 attribution=setup_tool
                 page_id="{{ getEnv('FB_PAGE_ID') }}"
                 theme_color="#db3631"
                 logged_in_greeting="{{ 'messenger_hello_message'|trans }}"
                 logged_out_greeting="{{ 'messenger_hello_message'|trans }}">
            </div>
        </div>
    </div>
{% endblock %}
