{#
/**
  * @file
  * Template for rendering 'reset password' form.
  *
  * Available variables:
  * - current_route: Name of current route.
  * - current_path: Current URL (Path).
  * - current_locale: Current language code.
  * - resetForm: FormBuilder instace for reset form.
  */
#}
{% extends 'base.html.twig' %}

{% block title %}{{ 'reset.reset_password'|trans }}{% endblock %}

{% block body %}
    <div class="form-group col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <h1 class="h3 login-box-msg">{{ 'reset.reset_password'|trans }}</h1>

        {{ form_start(resetForm) }}

        <div class="form-group has-feedback {{ form_errors(resetForm.password.first) ? 'has-error' : '' }}">
            {{ form_label(resetForm.password.first) }}
            {{ form_widget(resetForm.password.first) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>

            {% if form_errors(resetForm.password.first) %}
                <div class="invalid-feedback">
                    {{ form_errors(resetForm.password.first) }}
                </div>
            {% endif %}
        </div>

        <div class="form-group has-feedback {{ form_errors(resetForm.password.second) ? 'has-error' : '' }}">
            {{ form_label(resetForm.password.second) }}
            {{ form_widget(resetForm.password.second) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>

            {% if form_errors(resetForm.password.second) %}
                <div class="invalid-feedback">
                    {{ form_errors(resetForm.password.second) }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <button class="btn btn-green btn-block btn-flat">{{ 'reset.reset_password'|trans }}</button>
        </div>

        {{ form_end(resetForm) }}
    </div>
{% endblock %}
