{% set current_route = app.request.get('_route') %}
{% set current_locale = app.request.get('_locale') %}

<!DOCTYPE html>
<html lang="{{ current_locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Informatics.Ge</title>
    <meta name="description" content="Informatics.ge - პროგრამირების შესწავლისა და სპორტული პროგრამირების ვებ-გვერდი">
    <meta name="keywords"
          content="პროგრამირება, პროგრამირების ენები, პროგრამირების შესწავლა, სპორტული პროგრამირება, ოლიმპიადები პროგრამირებაში, კონტესტები, ალგორითმები, ალგორითმი">
    <meta name="author" content="ABGEO">

    <!-- Icons -->
    <link href="{{ asset('images/blue-robot-hi.png') }}" rel="icon" type="image/x-icon">
    <!-- Icons -->

    <!-- Styles -->
    {% block styles %}
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/imagehover.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans') }}"
              rel="stylesheet" type="text/css">
    {% endblock %}
    <!-- / Styles -->
</head>

<body>
<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="logo-with-lang-switcher">
                <a class="navbar-brand" href="{{ url('index') }}">I<span>nformatics</span>.ge</a>

                {% set query_params = app.request.query.all|url_encode is not empty ?
                    '?' ~ app.request.query.all|url_encode : app.request.query.all|url_encode %}

                {% if app.request.attributes.get('_locale') == 'en' %}
                    <a href="{{ path(current_route, app.request.get('_route_params')|merge({'_locale': 'ka'})) ~ query_params }}"
                       class="lang-item">
                        <img src="{{ asset('images/lang-ka.png') }}" alt="KA"/>
                    </a>
                {% elseif app.request.attributes.get('_locale') == 'ka' %}
                    <a href="{{ path(current_route, app.request.get('_route_params')|merge({'_locale': 'en'})) ~ query_params }}"
                       class="lang-item">
                        <img src="{{ asset('images/lang-en.png') }}" alt="EN"/>
                    </a>
                {% endif %}
            </div>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="{{ current_route == 'index' ? 'active' : ''}}"><a href="{{ url('index') }}">{{ 'მთავარი'|trans }}</a></li>
                <li class="{{ current_route == 'about' ? 'active' : '' }}"><a href="{{ url('about') }}">{{ 'ჩვენ'|trans }}</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--/ Navigation bar-->

<!--Main Section-->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <!--Content-->
            {% block body %}{% endblock %}
            <!--/ Content-->
        </div>
    </div>
</section>
<!--/ Main Section-->

<!--Scripts-->
{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js') }}"></script>
{% endblock %}
<!--/ Scripts-->

<!--Footer-->
<footer id="footer" class="footer">
    <div class="container text-center">
        <div class="partners">
            <h2>{{ 'ჩვენი პარტნიორები'|trans }}</h2>
            <section class="partner-logos slider">
                <div class="slide">
                    <a href="http://kings.ge" target="_blank">
                        <img src="{{ asset('images/partners/kings.svg') }}" alt="Kings.ge"/>
                    </a>
                </div>
                <div class="slide">
                    <a href="http://lupi.ge" target="_blank">
                        <img src="{{ asset('images/partners/lupi.png') }}" alt="Lupi.ge"/>
                    </a>
                </div>
            </section>

            <script>
                $(document).ready(function () {
                    $('.partner-logos').slick({
                        centerMode: true,
                        slidesToShow: 6,
                        slidesToScroll: 1,
                        autoplay: true,
                        autoplaySpeed: 2000,
                        arrows: false,
                        dots: false,
                        pauseOnHover: false,
                        responsive: [
                            {
                                breakpoint: 768,
                                settings: {
                                    slidesToShow: 4
                                }
                            },
                            {
                                breakpoint: 520,
                                settings: {
                                    slidesToShow: 3
                                }
                            }]
                    });
                });
            </script>
        </div>

        <ul class="social-links">
            <li><a href="#" target="_blank"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram fa-fw"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter fa-fw"></i></a></li>
        </ul>

        <div class="credits">
            <p>©2018-{{ 'now'|date('Y') }} Informatics.ge. {{ 'ყველა უფლება დაცულია'|trans }}</p>
            <p><b>{{ 'დრო სერვერზე'|trans }}: {{ 'now'|date("d.m.Y H:i:s") }}</b></p>
        </div>

        <div class="links">
            <p>
                <a href="#">{{ 'ჩვენ'|trans }}</a> |
                <a href="#">{{ 'კონფიდენციალურობა'|trans }}</a> |
                <a href="#">{{ 'წესდება'|trans }}</a>
            </p>
            <p><a href="https://old.informatics.ge">{{ 'საიტის ძველი ვერსია'|trans }}</a></p>
            <p>
                Create with <span style="color: red;">♥</span> By
                <a href="http://www.abgeo.ga/" target="_blank">ABGEO</a>
            </p>
        </div>
    </div>
</footer>
<!--/ Footer-->
</body>
</html>
