{#
/**
  * @file
  * User profile.
  *
  * Available variables:
  * - current_route: Name of current route.
  * - current_path: Current URL (Path).
  * - current_locale: Current language code.
  * - user: Current user object.
  */
#}
{% extends 'base.html.twig' %}

{% block title %}{{ user.firstName ~ ' ' ~ user.lastName }}{% endblock %}

{% block body %}
    <br/><br/><br/>

    {# User Sidebar #}
    <div class="col-sm-3">
        {% include 'layouts/user-sidebar.html.twig' %}
    </div>
    {# End User Sidebar #}

    {# User Content #}
    <div class="col-sm-9">
        <div class="well">
            <div class="profile">
                <div class="header-section text-center">
                    <h3>
                        {{ user.firstName ~ ' ' ~ user.lastName }}

                        {% if app.user.username == user.username %}
                            <a href="{{ path('edit_profile') }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        {% endif %}
                    </h3>
                    <hr class="bottom-line">
                </div>

                <div class="table-responsive">
                    <table class="table borderless">
                        <tr>
                            <td><b>{{ 'city'|trans }}</b></td>
                            <td><i>{{ user.city ?: '-' }}</i></td>
                        </tr>
                        <tr>
                            <td><b>{{ 'school'|trans }}</b></td>
                            <td><i>{{ user.university ?: '-' }}</i></td>
                        </tr>
                        <tr>
                            <td><b>{{ 'favorite_language'|trans }}</b></td>
                            <td><i>{{ user.favoriteLanguage ?: '-' }}</i></td>
                        </tr>
                        <tr>
                            <td><b>{{ 'solved_problems_count'|trans }}</b></td>
                            <td><i><a href="#">{count}</a></i></td>
                        </tr>
                        <tr>
                            <td><b>{{ 'registration_date'|trans }}</b></td>
                            <td><i>{{ user.registrationDate|date('d/m/Y') }}</i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {# End User Content #}
{% endblock %}
